# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# frontend
/apps/frontend/node_modules
/apps/frontend/dist

# backend
/apps/backend/node_modules

# global
**/.env
**/.env.local
.DS_Store

# backend 側のコンパイル成果物のみ無視
/apps/backend/**/*.js
/apps/backend/**/*.js.map