# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

# frontend
/apps/frontend/node_modules
/apps/frontend/dist

# backend
/apps/backend/node_modules

# global
.env
.DS_Store

# コンパイル結果を無視
*.js
*.js.map